.container{
  padding-left: 100px;
  padding-right: 100px;
}

.info{
  float: right;
  font-size: 1.25rem;
}
.nameInfo {
  border-bottom: 1px solid #ddd;
}

.userInfo {
  padding-top: 10px;
  padding-bottom: 10px;
}
#name{
  font-size: 2.5rem;
}
#username{
  color: #666;
}

.fa-star, .fa-code-fork {
  margin: 5px 5px 5px 15px;
}

.repo {
font-size: 2rem;
padding-top: 30px;
padding-bottom: 30px;
border-bottom: 1px solid #ddd;
}
