
#profilePic{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #666;
}


.nameInfo {
  border-bottom: 1px solid #ddd;
}

.userInfo {
  p, a {
    display:block;
    margin-bottom: 0;
  }
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd;
}
#name{
  font-size: 2rem;
}
#username{
  color: #666;
}
.fa-map-marker, .fa-link, .fa-envelope-o {
  color: black;
  margin: 5px 15px 5px 5px;
}
